<!-- Footer partial -->
<div class="container">
  <div class="row justify-content-center">
    <ul id="footerList" class="list-unstyled">
      <li class="text-center">
        <a href="/info/#shipping" class="text-muted" target="_blank">Envios</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/info/#faqs" class="text-muted" target="_blank">Suporte e FAQs</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/info/#returns" class="text-muted" target="_blank">Devoluções</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/info/contact-us.html" class="text-muted" target="_blank">Contactos</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/info/terms-of-service.html" class="text-muted" target="_blank">Termos do Serviço</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/info/privacy-policy.html" class="text-muted" target="_blank">Privacidade</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-center">
    <img class="img-fluid" alt="Security" src="/images/secure-icon-new.jpg">
  </div>
</div>
