<!-- Footer partial -->
<div class="container">
  <div class="row justify-content-center">
    <ul id="footerList" class="list-unstyled">
      <li class="text-center">
        <a href="/information/#shipping" class="text-muted">Envios</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/information/#faqs" class="text-muted">Suporte e FAQs</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/information/#returns" class="text-muted">Devoluções</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/contact-us" class="text-muted">Contactos</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/terms-of-service" class="text-muted">Termos do Serviço</a>
        <span class="text-muted" >|</span>
      </li>
      <li class="text-center">
        <a href="/privacy-policy" class="text-muted">Privacidade</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-center">
    <img class="img-fluid" alt="Security" src="/images/secure-icon-new.jpg">
  </div>
</div>
