/* General */

p {
  font-size: 17px;
}

/* Loader */

#loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 8px solid #17a2b8!important;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Coupon Code */

#coupon-code {
    border: 2px dashed black;
}
#coupon-button {
  font-size: x-large;
}

/* Footer Menu */
#footerList span {
  display: none;
}

@media only screen and (min-width : 768px) {
  #footerList li {
    display: inline;
  }
  #footerList span {
    display: inline;
  }
}
